# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
.vscode

*/build-0602
# Memc3/data
# ProtoKV/data
data
proto-mica/data/*.log
proto-mica/data/smartKV/hitrate/*/*.log
# !proto-mica/*.py
!proto-mica/data
res_files/
Memc3/data/*.log
# !Memc3/*.py
!Memc3/data
*/build
